.card-view {
  transition: transform 0.2s;
  padding: 10px;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.badge {
  font-size: 0.9em;
}

.form-check {
  margin-bottom: 0.5rem;

  .form-check-input {
    margin-top: 0.2rem;
    cursor: pointer;
  }

  .form-check-label {
    margin-left: 0.5rem;
    cursor: pointer;
  }
}

.btn-outline-secondary {
  margin-bottom: 1rem;
}

.btn-link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
